.quetes section {
	margin: auto 120px;
}

.phone .quetes .page-section {
	margin: auto 24px;
}

.phone .quetes .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .quetes .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
}

/* Format des tableaux d'id "tableQuests" */
table#tableQuests th {
        border: 2px solid black;
        font-size: 15px;
        color: orange; 
}

table#tableQuests td {
        height: 25px;
        width: 200px;
        /* Padding pour que les points des listes soient dans les cases.
            Comment l'appliquer seulement aux li?
        */
        padding: 1px 1px 1px 1px;
}


